html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  margin: 0;
  background-color: #212121;
  color: whitesmoke;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
}

h1 {
  font-family: "DM Serif Text", serif;
  font-size: 40px;
}

h3 a {
  font-size: 20px;
  color: whitesmoke;
  cursor: pointer;
  text-decoration: none;
}

h3 a:hover {
  cursor: pointer;
  text-decoration: underline;
  color: rgb(255, 255, 255);
}

.content p.roboto {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 18px;
}

.sidebar {
  width: 200px;
  background-color: #1e1d1d;
  padding: 10px;
  height: 100vh;
  position: fixed;
  overflow-y: auto;
  transition: transform 0.3s ease;
}

.content {
  margin-left: 220px;
  padding: 20px;
  width: calc(100% - 220px);
  transition: margin-left 0.3s ease;
  box-sizing: border-box;
  flex: 1;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.separator {
  border: none;
  height: 2px;
  background-color: #444;
  margin: 20px 0;
  width: 100%;
}

button {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border: none;
  background-color: #646464;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
  color: whitesmoke;
  border-radius: 10px;
  transition: background-color 0.3s, transform 0.3s; /* Transitions */
}

button:hover {
  background-color: #717171;
  transform: scale(1.03);
  cursor: pointer;
}

a {
  color: whitesmoke;
  font-size: 17.5px;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
  color: rgb(76, 129, 221);
}

li pseudo {
  color: whitesmoke;
  font-size: 17.5px;
  text-decoration: none;
}

li a {
  color: whitesmoke;
  font-size: 17.5px;
  text-decoration: none;
}

li a:hover {
  text-decoration: underline;
  cursor: pointer;
  color: rgb(76, 129, 221);
}

.hamburger {
  display: none;
  background-color: #1e1d1d;
  color: white;
  padding: 10px;
  font-size: 20px;
  border: none;
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 1001;
  cursor: pointer;
}

@media (max-width: 768px) {
  .sidebar {
    transform: translateX(-100%);
    position: fixed;
    height: 100vh;
    z-index: 1000;
  }

  .sidebar button {
    margin-top: 60px;
  }

  .sidebar.show {
    transform: translateX(0);
    left: 0;
  }

  .content {
    margin-left: 0;
    width: 100%;
    padding: 60px 15px 20px 15px;
  }

  .hamburger {
    display: block;
  }
}

.sidebar.show {
  transform: translateX(0);
  left: 0;
}

footer {
  background-color: #1e1e1e;
  color: #f0f0f0;
  text-align: center;
  padding: 15px 10px;
  font-size: 16px;
  border-top: 1px solid #444;
  font-family: "DM Serif Text", serif;
}

footer a {
  color: whitesmoke;
  text-decoration: none;
  transition: color 0.3s;
  font-family: "DM Serif Text", serif;
}

footer a:hover {
  color: rgb(76, 129, 221);
  text-decoration: underline;
}
